.navbar {
    display: flex;
    justify-content: flex-end; 
    /* justify-content: space-between; */
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .right-section {
    display: flex;
    align-items: center;
  }

  .clock {
    font-size: 1.2rem;
  }
  
  .logout-button {
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    background-color: #ff4d4d;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  .logout-button:hover {
    background-color: #ff1a1a;
  }

  .right-section {
    display: flex;
    align-items: center;
  }